.form-group
  .control-label.col-sm-2
    = label_tag('Contact type:')
  .col-sm-10
    = select_tag('seo_snippet[contact_type_0]', options_for_select(['customer support','technical support','billing support','bill payment','sales','reservations','credit card support','emergency','baggage tracking','roadside assistance','package tracking']), {prompt: 'Please select', class: 'form-control'})
.form-group
  .control-label.col-sm-2
    = label_tag('Telephone:')
  .col-sm-10
    = telephone_field(:seo_snippet, :telephone_0, placeholder: '+49-401-555-1212', class: 'form-control')
.form-group
  .control-label.col-sm-2
    = label_tag('Contact URL:')
  .col-sm-10
    = url_field(:seo_snippet, :contact_url_0, placeholder: 'https://domain/contact', class: 'form-control')
.form-group
  .control-label.col-sm-2
    = label_tag('Area served:')
  .col-sm-10
    = select_tag('seo_snippet[area_served_0]', options_for_select(CountryCodes.all_country_codes), {multiple: true, prompt: 'Please use command or ctrl/strl to add:', class: 'form-control'})
.form-group
  .control-label.col-sm-2
    = label_tag('Available language:')
  .col-sm-10
    = select_tag('seo_snippet[available_language_0]', options_for_select([['German','German'],['English','English'],['French','French'],['Spanish','Spanish'],['Dutch']]), {multiple: true, prompt: 'Please use command or ctrl/strl to add:', class: 'form-control'})


