.form-group
  .col-sm-10
    = form.select('contact_type', options_for_select(['baggage_tracking', 'bill_payment', 'billing_support', 'credit_card_support', 'customer_support', 'emergency', 'package_tracking', 'reservations', 'roadside_assistance', 'technical_support', 'sales']), {prompt: 'Please select', class: 'form-control'})
.form-group
  .col-sm-10
    = form.telephone_field(:telephone, placeholder: '+49-401-555-1212', class: 'form-control')
.form-group
  .col-sm-10
    = form.url_field(:contact_url, placeholder: 'https://domain/contact', class: 'form-control')
.form-group
  .col-sm-10
    = form.select('area_served', options_for_select(CountryCodes.all_country_codes), {prompt: 'Please use command or ctrl/strl to add:'}, {multiple: true, class: 'form-control'})
.form-group
  .col-sm-10
    = form.select('available_language', options_for_select([['German','German'],['English','English'],['French','French'],['Spanish','Spanish'],['Dutch','Dutch']]), {prompt: 'Please use command or ctrl/strl to add:'}, {multiple: true, class: 'form-control'})


