<% if name == 'image_and_alt'
  content.each do |src, alt| %>
    <div> src= <%= src %> [alt= <%= alt %>] </div>
  <% end %>
<% elsif content.class.to_s == 'Hash'
  content.each do |key, count|  %>
    <div> <%= key %> [count: <%= count %>] </div>
  <% end %>
<% elsif content.class.to_s == 'Array' 
  content.each do |link| %>
    <div> <%= link %> </div>
  <% end %>
<% else %>
  <div> <%= content.to_s %> </div>
<% end %>
