<h1> Results </h1>
<h4> All valid urls with attributes: </h4>

<% @result[:sorted_attributes_hash].each do |url, attributes| %>
  <a id='result_url' class= <%= "result_url_#{attributes.last}"%> href= '#' > <%= url %> </a>
  <div id= 'result_titles'>
    <% attributes.first.each do |title, array| %>
      <a class= 'result_attributes_title' href= '#'> <%= title %> </a>
      <div class= 'result_attributes_array'>
        <% array.each do |content| %>
          <a class= 'result_url_content0' href= '#'> <%= content[0].to_s %> </a>
          <div class= 'result_url_content1'> <%= content[1].to_s %> </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<h4> All system URLs: </h4>
<div class= 'show_hide'> show/hide </div>
<div class= 'system_urls'>
  <% if @result[:sorted_urls_hash]['System'].empty? %>
    <div> No data! </div>
  <% else
    @result[:sorted_urls_hash]['System'].each do |url, parent| %>
      <div> <%= "#{url} [parent-> #{parent}]" %> </div>
    <% end %>
  <% end %>
</div>

<h4> All extern URLs: </h4>
<div class= 'show_hide'> show/hide </div>
<div class= 'extern_urls'>
  <% if @result[:sorted_urls_hash]['Extern'].empty? %>
    <div> No data! </div>
  <% else
    @result[:sorted_urls_hash]['Extern'].each do |url, parent| %>
      <div> <%= "#{url} [parent-> #{parent}]" %> </div>
    <% end %>
  <% end %>
</div>

<h4> All faulty intern URLs: </h4>
<div class= 'show_hide'> show/hide </div>
<div class= 'intern_urls'>
  <% if @result[:sorted_urls_hash]['Intern'].empty? %>
    <div> No data! </div>
  <% else
    @result[:sorted_urls_hash]['Intern'].each do |url, parent| %>
      <div> <%= "#{url} [parent-> #{parent}]" %> </div>
    <% end %>
  <% end %>
</div>

<h4> All code 30x URLs: </h4>
<div class= 'show_hide'> show/hide </div>
<div class= 'system_urls'>
  <% if @result[:sorted_urls_hash]['Redirected'].empty? %>
    <div> No data! </div>
  <% else
    @result[:sorted_urls_hash]['Redirected'].each do |url, parent, code| %>
      <div> <%= "#{code}: #{url} [parent-> #{parent}]" %> </div>
    <% end %>
  <% end %>
</div>

<h4> All code 40x URLs: </h4>
<div class= 'show_hide'> show/hide </div>
<div class= 'extern_urls'>
  <% if @result[:sorted_urls_hash]['Code_error'].empty? %>
    <div> No data! </div>
  <% else
    @result[:sorted_urls_hash]['Code_error'].each do |url, parent, code| %>
      <div> <%= "#{code}: #{url} [parent-> #{parent}]" %> </div>
    <% end %>
  <% end %>
</div>

<script>
  $(function() {
    $(this).on('click', '#result_url', function(event) {
      event.preventDefault();
      var clone = $(this).next().clone();
      $(this).siblings().removeClass('result_attr_show_me');
      $(this).siblings().removeClass('result_attr_hide_me');
      if (clone.hasClass('result_attr_show_me')) {
        $(this).next().addClass('result_attr_hide_me');
      } else {
        $(this).next().addClass('result_attr_show_me');
      }
      $('.result_attributes_array').hide();
      $('.result_url_content1').hide();
    });
  });

  $(function() {
    $('.result_attributes_title').click(function(event) {
      event.preventDefault();
      $(this).next().toggle();
    });
  });

  $(function() {
    $('.result_url_content0').click(function(event) {
      event.preventDefault();
      $(this).next().toggle();
    });
  });

  $(function() {
    $('.show_hide').click(function(event) {
      event.preventDefault();
      $(this).next().toggle();
    });
  });
</script>
