%h1 Results
%h4 All valid urls with attributes:
- @result[:attributes_hash].each do |url, attributes|
  =link_to url, '#', id: 'result_url', class: 'result_url_'+attributes.last
  #result_attributes
    - attributes.first.each do |name, value|
      =link_to name, '#', class: 'result_url_name'
      .result_url_value
        - if name == :image_and_alt
          - value.each do |src, alt|
            src= #{src} [alt= #{alt}]
            %br
        - elsif value.class.to_s == 'Hash'
          - value.each do |key, count|
            #{key} [count: #{count}]
            %br
        - elsif value.class.to_s == 'Array'
          - value.each do |link|
            #{link}
            %br
        - else
          #{value}

%h4 All system URLs:
=render partial: 'error_feedback_array', locals: {result: @result[:system_urls_array]}

%h4 All extern URLs:
=render partial: 'error_feedback_array', locals: {result: @result[:untested_urls_array]}

:javascript
  $(function() {
    $(this).on('click', '#result_url', function(event) {
      event.preventDefault();
      var clone = $(this).next().clone();
      $(this).siblings().removeClass('result_attr_show_me');
      $(this).siblings().removeClass('result_attr_hide_me');
      if (clone.hasClass('result_attr_show_me')) {
        $(this).next().addClass('result_attr_hide_me');
      } else {
        $(this).next().addClass('result_attr_show_me');
      }
      $('.result_url_value').hide();
    });
  });

  $(function() {
    $('.result_url_name').click(function(event) {
      event.preventDefault();
      $(this).next().toggle();
    });
  });

  $(function() {
    $('.url_show').click(function(event) {
      event.preventDefault();
      $(this).next().toggle();
    });
  });
