%section
  .form-horizontal
    .form-group
      .control-label.col-sm-2
        = label_tag('Label:')
      .col-sm-10
        = text_field(:seo_snippet, :label, value:"seo_snippet", class: 'form-control')
%section
  #seo_tab_title_logo.seo_tab_title_clicked
    Organization Logo
  #seo_tab_title_contact
    Corporate Contact
  #seo_tab_title_profiles
    Social Profiles

%section
  .seo_tab_content
    .seo_logo
      %h5
        Organization Logo
      .form-horizontal
        .form-group
          .control-label.col-sm-2
            = label_tag('Context:')
          .col-sm-10
            = text_field(:seo_snippet, :context, value:"http://schema.org", class: 'form-control')
        .form-group
          .control-label.col-sm-2
            = label_tag('Type:')
          .col-sm-10
            = text_field(:seo_snippet, :type, value:"Organization", class: 'form-control')
        .form-group
          .control-label.col-sm-2
            = label_tag('URL:')
          .col-sm-10
            = url_field(:seo_snippet, :url, placeholder:"http://www.example.com", class: 'form-control')
        .form-group
          .control-label.col-sm-2
            = label_tag('Logo:')
          .col-sm-10
            = url_field(:seo_snippet, :logo, placeholder:"http://www.example.com/images/logo.png", class: 'form-control')
    .seo_contact
      %h5
        Corporate Contact
      .form-horizontal
        .form-group
          .control-label.col-sm-2
            = label_tag('Context:')
          .col-sm-10
            = text_field(:seo_snippet, :context, value:"http://schema.org", class: 'form-control')
        .form-group
          .control-label.col-sm-2
            = label_tag('Type:')
          .col-sm-10#override
            = select(:seo_snippet, :type, [['customer support'],['technical support'],['billing support'],['bill payment'],['sales'],['reservations'],['credit card support'],['emergency'],['beggage tracking'],['roadside assistance'],['package tracking']])
        .form-group
          .control-label.col-sm-2
            = label_tag('URL:')
          .col-sm-10
            = url_field(:seo_snippet, :same_url, placeholder:"Only edit if URL in Organization Logo empty", class: 'form-control')
        .form-group
          .control-label.col-sm-2
            = label_tag('Telephone:')
          .col-sm-10
            = telephone_field(:seo_snippet, :telephone, placeholder: "+49-401-555-1212", class: 'form-control')
        .form-group
          .control-label.col-sm-2
            = label_tag('Contact type:')
          .col-sm-10
            = text_field(:seo_snippet, :contact_type, value:"customer service", class: 'form-control')
    .seo_profiles
      %h5
        Social Profiles
      .form-horizontal
        .form-group
          .control-label.col-sm-2
            = label_tag('Facebook URL:')
          .col-sm-10
            = url_field(:seo_snippet, :facebook_url, placeholder: "http://www.facebook.com/your-profile", class: 'form-control')
        .form-group
          .control-label.col-sm-2
            = label_tag('Twitter URL:')
          .col-sm-10
            = url_field(:seo_snippet, :twitter_url, placeholder:"http://www.twitter.com/your-profile", class: 'form-control')
        .form-group
          .control-label.col-sm-2
            = label_tag('Google+ URL:')
          .col-sm-10
            = url_field(:seo_snippet, :google_plus_url, placeholder:"http://www.plus.google.com/your-profile", class: 'form-control')
        .form-group
          .control-label.col-sm-2
            = label_tag('Instagram URL:')
          .col-sm-10
            = url_field(:seo_snippet, :instagram_url, placeholder:"http://instagram.com/yourProfile", class: 'form-control')
        .form-group
          .control-label.col-sm-2
            = label_tag('Pinterest URL:')
          .col-sm-10
            = url_field(:seo_snippet, :pinterest_url, placeholder:"Please write url here", class: 'form-control')
        .form-group
          .control-label.col-sm-2
            = label_tag('LinkedIn URL:')
          .col-sm-10
            = url_field(:seo_snippet, :linkedin_url, placeholder:"http://www.linkedin.com/in/yourprofile", class: 'form-control')
        .form-group
          .control-label.col-sm-2
            = label_tag('Youtube URL:')
          .col-sm-10
            = url_field(:seo_snippet, :youtube_url, placeholder:"Please write url here", class: 'form-control')

= form.form_group :class => 'form-actions' do
  / add to yml file!!
  = form.submit 'Create SEO Snippet', seo: 'yes', :class => 'btn btn-primary'
  = link_to t('.cancel'), comfy_admin_cms_site_snippets_path, :class => 'btn btn-link'

:javascript
  $(function() {
    $(this).on('click', '#seo_tab_title_logo', function(event) {
      event.preventDefault();
      $(this).addClass('seo_tab_title_clicked')
      $(this).siblings().removeClass('seo_tab_title_clicked')
      $('.seo_logo').show();
      $('.seo_contact').hide();
      $('.seo_profiles').hide();
    });
  });

  $(function() {
    $(this).on('click', '#seo_tab_title_contact', function(event) {
      event.preventDefault();
      $(this).addClass('seo_tab_title_clicked')
      $(this).siblings().removeClass('seo_tab_title_clicked')
      $('.seo_logo').hide();
      $('.seo_contact').show();
      $('.seo_profiles').hide();
    });
  });

  $(function() {
    $(this).on('click', '#seo_tab_title_profiles', function(event) {
      event.preventDefault();
      $(this).addClass('seo_tab_title_clicked')
      $(this).siblings().removeClass('seo_tab_title_clicked')
      $('.seo_logo').hide();
      $('.seo_contact').hide();
      $('.seo_profiles').show();
    });
  });
