= render 'comfy/admin/cms/partials/snippet_form_before', :form => form

%section
  #seo_tab_title_logo.seo_tab_title_clicked
    Organization Logo
  #seo_tab_title_contact
    Corporate Contact
  #seo_tab_title_profiles
    Social Profiles

%section
  .seo_tab_content
    .seo_logo
      %h5
        Organization Logo
      .seo_input_field
        %label Context
        %input(type="text" name="context" size="40" value="http://schema.org")
      .seo_input_field
        %label Type
        %input(type="text" name="type" size="40" value="Organization")
      .seo_input_field
        %label URL
        %input(type="text" name="url" size="40" placeholder="http://www.example.com")
      .seo_input_field
        %label Logo
        %input(type="text" name="logo" size="40" placeholder="http://www.example.com/images/logo.png")
    .seo_contact
      %h5
        Corporate Contact
      .seo_input_field
        %label Context
        %input(type="text" name="context" size="40" value="http://schema.org")
      .seo_input_field
        %label Type
        %input(type="text" name="type" size="40" value="Organization")
      .seo_input_field
        %label URL
        %input(type="text" name="same_url" size="40" placeholder="http://www.example.com")
      .seo_input_field
        %label Telephone
        %input(type="text" name="telephone" size="40" placeholder="+1-401-555-1212")
      .seo_input_field
        %label Area
        %input(type="text" name="area" size="40" placeholder="Please write area here")
      .seo_input_field
        %label Language
        %input(type="text" name="language" size="40" placeholder="Please write language here")
    .seo_profiles
      %h5
        Social Profiles
      .seo_input_field
        %label Facebook URL
        %input(type="text" name="facebook_url" size="40" placeholder="http://www.facebook.com/your-profile")
      .seo_input_field
        %label Twitter URL
        %input(type="text" name="twitter_url" size="40" placeholder="http://www.twitter.com/your-profile")
      .seo_input_field
        %label Google+ URL
        %input(type="text" name="google_plus_url" size="40" placeholder="http://www.plus.google.com/your-profile")
        .seo_input_field
        %label Instagram URL
        %input(type="text" name="instagram_url" size="40" placeholder="http://instagram.com/yourProfile")
      .seo_input_field
        %label PinterestURL
        %input(type="text" name="pinterest_url" size="40" placeholder="Please write url here")
      .seo_input_field
        %label LinkedInURL
        %input(type="text" name="linkedin_url" size="40" placeholder="http://www.linkedin.com/in/yourprofile")
      .seo_input_field
        %label Youtube URL
        %input(type="text" name="youtube_url" size="40" placeholder="Please write url here")


= render 'comfy/admin/cms/categories/form', :form => form

= render 'comfy/admin/cms/partials/snippet_form_after', :form => form

= form.form_group :class => 'form-actions' do
  / add to yml file!!
  = form.submit 'Create SEO Snippet', seo: 'yes', :class => 'btn btn-primary'
  = link_to t('.cancel'), comfy_admin_cms_site_snippets_path, :class => 'btn btn-link'

:javascript
  $(function() {
    $(this).on('click', '#seo_tab_title_logo', function(event) {
      event.preventDefault();
      $(this).addClass('seo_tab_title_clicked')
      $(this).siblings().removeClass('seo_tab_title_clicked')
      $('.seo_logo').show();
      $('.seo_contact').hide();
      $('.seo_profiles').hide();
    });
  });

  $(function() {
    $(this).on('click', '#seo_tab_title_contact', function(event) {
      event.preventDefault();
      $(this).addClass('seo_tab_title_clicked')
      $(this).siblings().removeClass('seo_tab_title_clicked')
      $('.seo_logo').hide();
      $('.seo_contact').show();
      $('.seo_profiles').hide();
    });
  });

  $(function() {
    $(this).on('click', '#seo_tab_title_profiles', function(event) {
      event.preventDefault();
      $(this).addClass('seo_tab_title_clicked')
      $(this).siblings().removeClass('seo_tab_title_clicked')
      $('.seo_logo').hide();
      $('.seo_contact').hide();
      $('.seo_profiles').show();
    });
  });
